
.header {
    width: 100%;
    background-color: firebrick;
    color: white;
    p {
        margin: 0;
        }
    }
.headerTitle {
    font-size: 2em;
    padding: 0.5rem;
    }
.headerContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    }
.headerCart {
    button {
        display: flex;
        justify-content: center;
        align-items: center;
        background: transparent;
        color: inherit;
        border: none;
        cursor: pointer;

        svg {
            margin-right: 0.5em;
            }
        }
    }
