
.header {
    width: 100%;
    background-color: firebrick;
    color: white;
    }
.headerTitle {
    font-size: 2em;
    }
.headerContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    }